<article >  
    <section class="skills">
        <img src="../assets/imagenes/skills.png" height="1190" width="550">
    </section>

    <h1 class="titulos">Experiencia laboral</h1>
  
    <p class="textosobremi">{{miPortfolio.trabajo1}}</p>
        <p class="experiencialaboral">Trabajo como tutora y parte de equipo docente de la escuela Crianza en Brazos. Escuela pionera en Argentina referida a porteo ergómico. Además, soy puericultora. Acompaño a las familias en su lactancia y crianza. Sumado a estas actividades laborales brindo talleres de lactancia, porteo y temas relacionados a estos.
        </p>
    <p class="textosobremi">{{miPortfolio.trabajo2}}</p>        
     <p class=experiencialaboral>Trabajé en Claro; Amx Móvil. En primera instancia fui asesora de Atención al CLiente de forma personalizada. Luego, me desarrollé en el area de stock y producto. Fui técnica de producto. Mis tareas eran entregarle al cliente interno las terminales para ventas, recibir terminales falladas y enviarlas mediante correo externo. Controlar el stock, realizar inventarios, recepción, control e ingreso de mercaderia. El sistema utilizado en atención al cliente fue Stealth y en el área de producto, SAP.
    </p>
  </article>
