<div>
  
    <div class="botonlogin">
        <a href="./iniciar-sesion">
        <input type="button" class="btn-primary" value="Login">
        </a>      
      </div>

</div>
<section class="encabezado">
<div class="logo-ap">             
    <img src="../assets/imagenes/logo.png" width="30" height="30">
    <div class="textosup1">
    <p>Argentina Programa - #yoprogramo</p>
    </div>    
    </div>    

<div class="redes">
           
    <img src="../assets/imagenes/logo-ig.png" width="30" height="30">
    
<form> 
    <a href="https://www.instagram.com/marinachavez.lactanciayporteo/">
    <input type="button" class="botonredes" value={{persona.redes}}>
</a>
</form> 
</div>
</section>

<aside class="banner">
    <img src="../assets/imagenes/banner.jpg"/>    
    </aside>  

<div class="imagen-perfil">    
<img src = {{persona.imgperfil}} height="150" width="150">
</div>

<div class="acercade">
<h1>{{persona.nombre}}</h1>
</div>

<section class="mihistoria">
<p>Soy estudiante Full Stack Developer.
Mi formación universitaria es "Tecnicatura en Ceremonial y Protocolo". 
Sin embargo, con el nacimiento de mi primer hijo, me formé como puericultora y consultora de porteo. 
Actualmente, trabajo acompañando familias en su crianza y lactancia. A su vez, soy tutora de la formación de profesionales en porteo en la escuela Crianza En Brazos.
</p>
</section>
