<section >
    <h1 class="proyectos">PROYECTOS</h1>
<p class="descripcionproyectos">
    Actualmente me encuentro estudiando para poder ser Full Stack Developer. Este portfolio es mi primer proyecto.
    A continuación, les dejo el acceso directo a mi perfil de GitHub donde podrán ver el frontend y el backend del portfolio y también lo que me encuentro estudiando con C# y .NET Framework.
    Ire subiendo a mi perfil de GitHub y aquí mismo los nuevos lenguajes y tecnologías que vaya adquiriendo.
</p>

<section class="proyectosnav" >
<div>    
    <span class="perfilGitHub">
    <a title="Perfil GitHub Marina Celeste Chávez" href="https://github.com/marinacchavez89">
    <img width="200" height="100" src="../assets/imagenes/logoGithub.jpg" alt="Perfil GitHub Marina Celeste Chávez" /></a>
    </span>  
    <span class="port" >
        <a title="Portfolio" href="https://github.com/marinacchavez89/Portfolio-Proyecto/tree/master/MarinaChavezPortfolio">
        <img width="100" height="100" src="../assets/imagenes/foto perfil.jpeg" alt="Portfolio" /></a>
    </span>
    <span class="csharp">
        <a title="Proyectos C#" href="https://github.com/marinacchavez89/CSharpNivel1">
        <img width="200" height="150" src="../assets/imagenes/csharp.jpg" alt="Proyectos C#" /></a>
    </span>
</div>
</section>

</section>
