<article>
  
    <h1 class="titulos">Educación</h1>
    <p class="textosobremi">{{miPortfolio.estudios1}}</p>  
    <p class="estudios">Actualmente estoy estudiando en Argentina Programa. Siempre en constante movimiento, considerando el aprendizaje como pilar fundamental de la vida. Al concluir el curso, seguiré en camino de desarrollo. El titulo del curso es Full Stack Developer Jr.</p>
  
    <p class="textosobremi">{{miPortfolio.estudios2}}</p>
    <p class="estudios"> Soy puericultora desde el año 2019. Realicé mis estudios en la ACADP, Asociación Civil Argentina De Puericultura. Mi rol es acompaña la lactancia y crianza de las familias, de forma individual, brindando talleres, en consultorios o en instituciones de salud.
    </p>
    <p class="textosobremi">{{miPortfolio.estudios3}}</p>
    <p class="estudios"> En el año 2017 finalicé el curso de porteo en la escuela Crianza En Brazos. El porteo ergonómico es una forma de llevar  a nuestros bebés en brazos mediante un dispositivo de tela, cuidando tanto el desarrollo de nuestros hijos como así también cuidando el cuerpo de quien portea. Brindo talleres y asesorias personalizadas a familias. A su vez, trabajo como tutora de la escuela Crianza En Brazos acompañando la cursada de la práctica estudiantil. 
    </p>
    <p class="textosobremi">{{miPortfolio.estudios4}}</p>
    <p class="estudios">         
    La Tecnicatura Universitaria en Ceremonial y Protocolo fue realizada en la Universidad de La Matanza. Estos estudios están dentro del área de Cs. Sociales; una rama desprendida de la licenciatura de Relaciones Públicas. 
</p>
</article>
