<footer class="piepagina">
    <section>
    <img class="logocontacto" src="../assets/imagenes/logocontacto.png" width="60" height="60">
    <p class="infocontacto">{{miPortfolio.celular}} | {{miPortfolio.email}}</p>
    <div>
      <form class= botonlinkedin>
          <a  href="https://www.linkedin.com/in/marina-celeste-chavez-198940202">
            <input type="button" class="inicio" value="Marina Chávez">
          </a>
      </form>   
      <img class="logoLK" src="../assets/imagenes/logoLK.png" width="60" height="20">            
      </div>
  </section>
</footer>
