<footer class="piepagina">
  <section>
    
    <img class="logocontacto" src="../assets/imagenes/logocontacto.png" width="60" height="60">
    <p class="infocontacto">{{miPortfolio.celular}} | {{miPortfolio.email}}</p>

    <section class = "linkedin">
    
    <div class="logoLK">  
    <a title="Linkedin Marina Chávez" href="https://www.linkedin.com/in/marina-celeste-chavez-198940202/">
      <img width="200" height="45" src="../assets/imagenes/logoLK.png" alt="Perfil Linkedin Marina Chávez" /></a>
    </div>
      
    </section>
  
</section>
</footer>
