<section >
    <h1 class="proyectos">PROYECTOS</h1>
<p class="descripcionproyectos">
    Actualmente me encuentro estudiando para poder ser Full Stack Developer, por lo tanto este portfolio es mi primer proyecto.
    A medida que vaya avanzando y adquiriendo más conocimientos y confianza, ire mostrando en esta sección los nuevos proyectos en los que estaré siendo parte.
    Dentro de la web de Crianza En Brazos quisiera poder colaborar y poder formar una base de datos y loguin para alumnas y socios de la Asociacion Red de Crianza. Espero poder comenzarlo pronto.
</p>
</section>
